<img src="{{ asset('bundles/jenkohouse/img/' ~ currentRoom.name ~ '.jpg') }}" />

<p>Room size: {{ currentRoom.dimensions }}</p>

{% for room in currentRoom.exits %}
    <p><a href="{{ path('jenko_house_enter_room', {location: room.name}) }}">Go to {{ room.name }}</a></p>
{% endfor %}

{% if previousRoom is not null %}
    <p><a href="{{ path('jenko_house_enter_room', {location: previousRoom.name}) }}">Go back to {{ previousRoom.name }}</a></p>
{% else %}
    <p><a href="{{ path('jenko_house_outside') }}">Go outside</a></p>
{% endif %}